<%- include("header.ejs") %>

<link rel="stylesheet" type="text/css" href="/main.css">
<section class="section container">
    <h1 class="tag">Edit</h1>
    <form  action="/edit/<%= post.id%>" method="POST" class="compose">   
        <input type="text" name="title" class="title input" value="<%= post.title %>" required>    
        <textarea name="content" class="input" rows="7" cols="80" required><%= post.content %></textarea>
        <input type="text" name="name" class="input" value="<%= post.name %>" required>
        <button type="submit" class="btn">Update</button>
    </form>
</section>
